body { color: #000000; background-color: #ffffff; background-image: url(../Images/back.gif); }

.middle { vertical-align: middle; }  
.top { vertical-align: top; }  
.bottom { vertical-align: bottom; }  

.txtnot { font-size: 9px; color:#0000ff; }
.txtsml { font-size: 10px; color:#000000; }
.txtsmli { font-size: 10px; color:#000000; font-style: italic; }
.txtmed { font-size: 12px; }

.pcell { margin: 8px; text-align: left; }
.cell { padding: 20px 8px; }
.cell-amadeus { padding: 8px 8px; background: #003399; }
.cell-border { padding: 4px 0px; border: solid 1px #000000; }

.cell-special { background: #FFCCCC; border: solid 1px #CC0000; padding: 4px 4px; text-align: center; }

.table-gray { border: 1px solid #808080; border-collapse: collapse; }
.cell-gray { border-left: 1px solid #808080; border-right: 1px solid #808080; vertical-align: top; }

.cell2-gray { border: 1px solid #808080; vertical-align: top; font-size: small; }
.title-gray { border: 1px solid #000000; background: #808080; color: #ffffff; font-weight: bold; vertical-align: top; }

.title2 { font-size: 18pt; font-weight: bold; white-space: nowrap; width: 100%; vertical-align: middle; color: #000000; background: #cccccc; }

.imgframe { vertical-align: top; border: 1px solid #999999; padding: 0px; margin: 4px; }
