body {
	background-color:#ececec;
	color:#333;
	font:.7em/1.2em normal arial,helvetica,sans-serif;
	border-top:3px solid #ab1513;
}

body, ul, p, h2 {
	margin:0;
	padding:0;
}

form {
	padding:0 5px;
	text-align:center;
}

input[name='q'] {
	width:55%;
	max-width:240px;
}

input[type='submit'] {
	font-size:0.8em;
}

.section {
	background-color:#fff;
}

h2 {
	font-size:1em;
	background-color:#bbb;
	color:#fff;
	border-top:1px solid #828282;
	border-bottom:1px solid #828282;
	padding:3px 5px;
	height:16px;
	line-height:16px;
	}

#g {
	background-color: white;
	border: none;
	height: 19px;
	color: black;
	text-align: right;
	font-weight: normal;
	border-bottom: 1px solid #ddd;
	padding: 3px 0 0 2px;
	}

.left {
	float:left;
	}

h2 img {
	float:left;
	margin:-1px 5px 0 0;
	}
	
#opera img {
	margin-right: 4px;
	}
	
li {
	line-height:1.7em;
	width:50%;
	float:left;
	}

a {
	background:transparent url("../img/arrow.gif") 5px center no-repeat;
	border-bottom:1px solid #efefef;
	padding-left:15px;
	color:#336699;
	text-decoration:none;
	display:block;
}

.clear {
	clear:both;
}

.footer {
	background-color:#ab1513;
	text-align:center;
	border-top:2px solid #e3e3e3;
	font-size:0.8em;
	color:#fff;
}

@media all and (max-width: 240px) {
	li {
		width:100%;
	}
}

@media all and (max-height: 220px) {
	form {
		margin:3px 0;
	}
}


html[dir='rtl'] a {
	background:transparent url("../img/rtlarrow.gif") 99% center no-repeat;
	padding-right:15px;
}

html[dir='rtl'] input[name='q'] {
	background-position:left top;
}
html[dir='rtl'] input[type='submit'] {
	text-align:center;
}
html[dir='rtl'] h2 img {
	float:right;
	margin-left: 5px;
}

html[dir='rtl'] #g {
	text-align: left;
	}

#new {
	background-color: white;
	text-align: right;
	}
