/* general help styles **********************************************/
#top {
	height:85px;
	max-width: 55em;
	margin:0 auto;
	}

#content {
	margin:0 auto;
	padding:2%;
	width:96%;
	border: 1px solid #aaa;
	border-top: none;
	}

#content, table {
	max-width: 55em;
	background-color:white;
	}

html {
	background:#fff url(background.png);
	}

body {
	background:transparent url(top.png) top left repeat-x;
 	font-family: "trebuchet ms", arial, verdana, sans-serif;
	color: black;
	margin:0;
	padding:0;
	}

h1 {
	letter-spacing: 1px;
	color: #ac1614;
	font-weight: bold;
	font-size: 2em;
	margin:0;
	}

h2 {
	margin: 1em 0 0 0;
	color: #666666;
	font-weight: bold;
	font-size: 1.2em;
	}

h3 {
	font-size: 1.1em;
	color: #666666;
	margin-bottom: 0.5em;
	font-weight: bold;
	}

h4 {font-size: 1em;}
/* p {margin-top: 0em;} */
ol.alfa {
	list-style: lower-alpha;
	margin-top: 0;
	}

/* styles for links *************************************************/
a:link, .fakelink, a:visited {
	text-decoration: none;
	color: #3366CC;
	}

a:hover {
	text-decoration: underline;
	color: #3366CC;
	}
	
/* styles for text types ********************************************/
kbd {
	white-space: nowrap;
	}

table kbd {
	font-size: 90%;
	}
	
.bold {
	font-weight: bold;
	}
	
.red {
	color: red;
	}
	
.underline {
	text-decoration: underline !important;
	}
	
.nowrap {
	white-space: nowrap;
	}

span.note {
	color:#ac1614;
	font-weight: bold;
	}

p.copyright {
	margin-top: 3em;
	padding: 0.5em 0;
	margin-bottom: 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #ddd;
	color: gray;
	font-size: 0.75em;
	text-align: center;
	background: #fafafa;
	}
	
p.copyright:after {
	display: block;
	content: "";
	clear: both;
	}
	

p.tocnote {
	margin-top: 2em;
	text-align: center;
	}

/* styles for tables ************************************************/
table {
	margin-bottom: 1em;
	border: 1px solid #ccc;
	}
	
td, th {
	text-align: left;
	vertical-align: top;
	border: 1px solid #ccc;
	border-collapse: collapse;
	}
	
colgroup {
	border-collapse: collapse;
	}


/* input styles *****************************************************/
input.button {
	min-width: 75px;
	min-height: 24px;
	}
	
/* style for start page *********************************************/
body.startpage h1 {
	text-align:center;
	}

body.startpage h2 {
	margin-top: 0.5em;
	margin-bottom: 0em;
	border-bottom: none;
	page-break-before: avoid;
	font-weight: normal;
	}

body.startpage h3 {
	margin-top: 0.5em;
	margin-bottom: 0em;
	}
	
body.startpage p {clear: both;}

div.section {
	float: left;
	padding: 1%;
	max-width:48%;
	font-weight: normal;
	}

div.section p, div.section ul {
	max-width: 25em;
	}
	
div.section td {
	padding-right: 2em;
	}

body.toc a:link, body.toc a:visited, ul.prefslist li a:link, ul.prefslist li a:visited {
	text-decoration: none;
	color: black;
	}

body.toc a:hover, ul.prefslist li a:hover {
	text-decoration: none;
	color: white;
	background-color: black;
	}

body.toc h1 {
	padding-top:1em;
	} 

body.startpage ul {
	list-style: none;
	margin: 0.5em 0em 0.5em 0em;
	padding: 0em;
	}

body.startpage li {
	margin: 0;
	padding: 0;
	}

body.startpage form.search {
	padding-right: 1em;
	float:left;
	}

/* styles for toc **********************************************/
body.toc {
	font-family: "Verdana", sans-serif;
	font-size: 11px;
	padding-left: 10px;
	}

body.toc ul, ol.toc {
	list-style: none;
	margin: 0;
	font-size: 1.15em;
	font-weight: bold;
	}

ol.toc ul {
	font-size: 0.9em;
	margin: 0;
	border-top: none;
	font-weight: normal;
	/*border-top: 1px dotted black;*/
	margin-bottom: 0;
	}

ol.toc ul ul {
	font-size:0.9em;
	margin: 0 0 0 1em;
	margin-left: 1em;
	border-top: none;
	}
	
/* Styles for lists **********************************************/	
	
ul, ol {
	margin: 1px 1px 0px 5px;
	}
	
h3 + ul {
	margin-top: 3px;
	}
	
ol.toc ul, ul.localtoc {
	margin: 0 0 0 1.2em;
	}

ol li {
	margin: 0px 1px 2px 1em;
	}
	
ol ul li {
	margin: 0 0 0 0
	}
	
li {	
	list-style: url(bullet.gif);
	}

ul.localtoc li {
	margin: 2px 0px 0px 6px;
	list-style: url(bullet.gif);
	}

/* styles for media **********************************************/

@media screen, projection, tv {
	#wrap, table {
		max-width: 55em;
		}
	
	body {
		margin-left: auto;
		margin-right: auto;
		}
		
	kbd {
		background:#eee;
		padding:0 2px;
		}
		
	.path-menu {
		background:#eee;
		padding:0 2px;
		}
		
	a[target="_blank"]:after {
		content: " \bb\bb";
		color: green;
		}
		
	p.projection-note {
		display: none;
		}
	}

@media screen, tv {
	body {
		font-size: 0.9em;
		}
	}

@media projection {
	html, body {
		background:#fff;
		}
	
	#top {
		display: none;
		}
	
	body {font-size: 1.2em;}
	
	h1 {
		text-align: center;
		font-size: 3em;
		}
	
	h2 {
		margin-top: 0em;
		padding: 1em 0.5em 0.5em 0.5em;
		background-color: #355382;
		color: white;
		border: none;
		page-break-before: always;
		}
	
	p.projection-note {
		display: block;
		position: absolute;
		text-align: right;
		right: 1em;
		left: 1em;
		bottom: 1em;
		}
		
	.nobreak {page-break-before: avoid;}
	p.copyright {display: none;}
	
	#content {
		border: none;
		}
	}
	
@media print {
	body, table {
	font-size: 11pt;
	}
	
* {
	color: black !important;
	}
	kbd:before {
		content: "[";
	}
	kbd:after {
		content: "]";
	}
	#top {
		display: none;
	}
}

.nice div {
	width: -o-skin; height: -o-skin;
	display: inline-block;
	}
	
/* Additional styles ****************************************************/

ul {
	margin: 0.5em 0 0 2em;
	padding: 0;
	}

.col1 {
	float: left;
	width: 40%;
	}
	
.col2 {
	float: right;
	width: 40%;
	}
	
#list dt {
	background: #eee;
	float: left;
	clear: left;
	padding: 3px;
	border: 1px solid;
	border-color: #eee #aaa #aaa #eee;

	}
	
#list dd {
	margin-bottom: 1.5em;
	}
	
dt {
	margin: 0 0.5em 0.5em 0;
	}
	
#list {
	clear: both;
	}
	
#troubleshoot dl dt:before {
	content: ">>";
	color: #ccc;
	font-weight: bold;
	color: #3366cc;
	display: block;
	float: left;
	margin: 0 0.3em 0 -1.3em;
	}
	
#troubleshoot dl dt {
	margin: 0 0 0 1.3em;
	}
	
#troubleshoot dl dd {
	margin-left: 1.3em; 
	}

dl#list dt:before {
	content: "";
	}
	
dl dd {
	margin: 0 0 0.8em 1.5em;
	}
	
#content ol.toc + p {
	border-top: 1px dashed #eee;
	padding-top: 1em;
	clear: both;
	}
	
/* handheld styles ***********************************************/


@media handheld {
	body {
		font-family: "arial", sans-serif;
		}

	.only-screen, .hide-hand {
		display: none;
		}
	
	.toc {
		padding: 0;
		margin: 0;
		width: 100%;
		}
		
	.toc li {
		font-size: 0.8em;
		margin: 0 0 0.15em 2px;
		}
	
	.col1 {
		width: 100%;
		float: left;
		}
		
	.col2 {
		width: 100%;
		float: left;
		clear: left;
		}
		
	h1#start a, h1#start a:visited {
		color: white;
		text-decoration: underline;
		}

	#troubleshoot dl dt:before {
		display: none;
		}
		
	#troubleshoot dl dt, #troubleshoot dl dd {
		margin-left: 0;
		}
		
	#top {
		display: none;
		}
		
	html {
		padding: 0px 0px 5px 0px;
		font-size: 11px;
		background: none;
		margin: 0;
		}
		
	body {
		padding: 0px 0px 2px 0px;
		background: none;
		margin: 0;
		}

	#content {
		margin: 0;
		padding: 0;
		border: none;
		max-width: none;
		width: 100%;
		}
		
	p.copyright {
		border: none;
		background: none;
		text-align: left;
		margin: 0;
		font-size: 1em;
		}
		
	h1 {
		margin: 0px 0px 0px 0px;
		padding: 1px 0px 1px 0px;
		background-color: maroon;
		color: white;
		letter-spacing: 0px;
		font-size: 1em;
		width: 100%;
		}
		
	h2 {
		margin: 0.5em 0px 1px 0px;
		padding: 1px;
		font-size: 1.3em;
		border-bottom: 1px solid #eee;
		}
		
	h3 {
		margin: 5px 0px 3px 0px;
		padding: 0px 1px 0px 5px;
		border-bottom: 1px solid #eee;
		color: black;
		background: #eee;
		}
	
	p {
		margin: 4px 0px 0px 0px;
		padding: 0px 1px 0px 1px;
		}
	
	kbd {
		line-height: 1.5em:
		}
		
	kbd, dl.shortcuts dt {
		border-right: 3px solid #AAAAAA;
		border-bottom: 4px solid #909090;
		padding: 0px 2px 0px 2px;
		font-size: 90%;
		}
		
	dl {
		margin: 10px 1px 8px 1px;
		padding: 0px 1px 0px 1px;
		}
		
	dt {
		margin-top: -3px;
		font-weight: bold;
		}
		
	dd {
		margin: 1px 1px 4px 0px;
		}
		
	dl.shortcuts dd {
		margin-bottom: 4px;
		}
		
	ol, ul {
		font-size: 14px !important;
		}
		
	ol ul li, ul.localtoc li {	
		list-style: disc;
		font-size: 10px !important;
		margin: 0 0 0 1px !important;
		}
	}
